.attrBlock {
    display: inline-grid;
    grid-template-columns: 85px 40px 30px;
    row-gap: 15px;
    column-gap: 10px;
    grid-auto-rows: 10px;
}


.attrSelects {
    display: grid;
    grid-template-columns: 40px;
    row-gap: 15px;
    column-gap: 10px;
    grid-auto-rows: 10px;
}


.attr{
    font-weight: bold;
}

.mod{
    font-weight: bold;
}

.val {
    font-weight: normal;
}

.14attr{
    display: none;
}


input[type=number]{
    width: 38px
}

input[type=checkbox]{
    margin: 0px
}

.skillTable {
    display: inline-grid;
    grid-template-columns: 180px 180px 180px;
    row-gap: 15px;
    column-gap: 10px;
    grid-auto-rows: 10px;
    border: 2px solid gray;
}

.skillBlock {
    display: inline-grid;
    grid-template-columns: 85px 85px 10px;
    column-gap: 2px;
}


.bloc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
}

.bloc select {
  padding: 5px;
  margin: -5px -20px -5px -5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* .tooltip .tooltiptext::after { */
/*   content: ""; */
/*   position: absolute; */
/*   top: 100%; */
/*   left: 50%; */
/*   margin-left: -5px; */
/*   border-width: 5px; */
/*   border-style: solid; */
/*   border-color: #555 transparent transparent transparent; */
/* } */

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.reddot {
  height: 25px;
  width: 25px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}

.greendot {
  height: 25px;
  width: 25px;
  background-color: #0f0;
  border-radius: 50%;
  display: inline-block;
}

.bluedot {
  height: 25px;
  width: 25px;
  background-color: #00f;
  border-radius: 50%;
  display: inline-block;
}

.purpledot {
  height: 25px;
  width: 25px;
  background-color: #00f;
  border-radius: 50%;
  display: inline-block;
}
