select:not([size]){
/*     min-width: 100%;
     width:inherit;*/
     background: #fff;
     height: 1.1em;
     font-size: 15px;
     padding:0px;
     border:none;
     box-shadow: 0px 0px 30px 20px rgba(255,255,255,0.5) inset,0px 0px 0px 1px #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#class_description ul li{
  margin: 5px 0;
}

html, body{
    height:100%;
    width:100%;
}


input{
    padding:1px 1px;
}

input[type=text]{
    margin:0;
    height:17px;
    line-height:17px;
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding:0;
    width:140px;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    width: 30px
}

body, option{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
    background:#161128;
    /* box-sizing: border-box; */
}

/* select{ */
/*       -webkit-appearance: none; */
/*       appearance: none; */
/* } */

.heading{
    font-family: 'Bree Serif', serif;
}

.collapsibleButton{
    width: 100%;
    position: relative;
}

.persistentText-default{
    position: absolute;
    width:100%;
    text-align:center;
    font-size:1.3em
}

.persistentText-active{
    position: absolute;
    width:100%;
    text-align:center;
    font-size:1.4em
}

.topText{
    position: absolute;
    width:100%;
    text-align:center;
}

.bottomText{
    position: absolute;
    width:100%;
    text-align:center;      
}

.topLayer{
    background-color: rgb(239, 239, 239);
    height: 100%;
    width:  100%;
    position: absolute;
    z-index:2;
}

.topLayer:hover{
    background-color: rgb(229, 229, 229);
}

.topLayer:active{
    background-color: #fff;
}


.bottomLayer{
    background: #F4E2FC;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:1;
}


.topLayer, .bottomLayer, .collapsibleButton{
    border: 1px;
    border-color: rgb(118, 118, 118);
    border-radius: 3px;
    border-style: outset;
    border-image: initial;

}


.collapsibleButton-attr{
    height:150px;
}

.persistentText-active-attr{
    top:8px;
}

.persistentText-default-attr{
    top:50px;
}

.topText-attr{
    top:100px;
}

.bottomText-attr{
    top:75px;
}


.collapsibleButton-skill{
    height:320px;
}

.persistentText-active-skill{
    top:8px;
}

.persistentText-default-skill{
    top:100px;
}

.topText-skill{
    top:200px;
}

.bottomText-skill{
    top:50px;
}

.collapsibleButton-hp{
    height:100px;
}

.persistentText-active-hp{
    top:8px;
}

.persistentText-default-hp{
    top:40px;
}

.topText-hp{
    top:70px;
}

.bottomText-hp{
    top:50px;
}


.header{
    position: relative;
    top: 0;
    left: 0;
    height:150px;
}

.headertext{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    z-index:2;
    display:block
}

.headerbackground{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:150px;
    object-fit:cover;
    z-index:-1;
}

.descriptionBox{
    border:1px solid black;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    background: #F4E2FC;
}

.bodyGrid{
    display: grid;
    grid-template-columns: 1fr 850px 1fr;
    background:#fff;
}

.sidebar{
    background:#161128;
}

.footer{
    background:#161128;
}

.topRow {
    display: grid;
    grid-template-columns: 253px auto;
    /* grid-template-columns: 255px auto; */
}


.topRowLeft {
    display: grid;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em auto 3em;
}
.topRowRight {
    display: grid;
    grid-template-rows: 1.8em auto 30px;
}

.skillBank{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    align-self: center;

    line-height:25px;
}

.attrBlockWithSelects{
    display:grid;
    grid-template-columns: 183px 40px;
    row-gap: 15px;
    column-gap: 10px;
    position: relative;
    padding-bottom:10px;
    padding-top:10px;

}

.attrBlock {
    display: grid;
    grid-template-columns: 82px 37px 33px;
    row-gap: 2px;
    column-gap: 10px;
    position: relative;
    grid-auto-rows: 22px;
    border:1px solid black;
    padding:5px
}


.attrSelects {
    display: grid;
    grid-template-columns: 40px;
    row-gap: 2px;
    column-gap: 10px;
    grid-auto-rows: 22px;
    padding:5px 0;
}


.attr{
    font-style:italic;
    /*    font-family: 'Times New Roman', serif;*/
    
}

.mod{
/*    font-weight: bold;*/
    /*    font-family: 'Times New Roman', serif;*/
    font-family: 'Play', sans-serif;
    text-align: center;
}

.val {
    font-weight: normal;
    text-align:center;
}

.14attr{
    display: none;
}


input[type=checkbox]{
    margin: 0px
}

.skillTable {
    width: 555px;
    display: grid;
    grid-template-columns: 180px 165px 195px;
    row-gap: 0px;
    column-gap: 10px;
    /* grid-auto-rows: 12px;  */
    border: 1px solid black;
/*    padding-top: 6px;*/
    padding-left: 8px;
    padding-right: 13px;
    padding-bottom: 0px;
}

.skillBlock {
    display: grid;
    grid-template-columns: 1fr 85px 10px;
    column-gap: 2px;
    margin-bottom: 8px;
    height:20px;
}


.bloc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
}

.bloc select {
  padding: 5px;
  margin: -5px -20px -5px -5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    font-style:normal;
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    top: 100%;
/*    left: 85px;*/
/*    margin-left: -60px;*/
    opacity: 0;
    transition: opacity 0.3s;
    display:inline-block;
}

.tooltip .leftcolumn {
    left:-250px;
}

.tooltip .middlecolumn {
    left:-250px;
}

.tooltip .rightcolumn {
    left:-320px;
}

.tooltip .savingthrow {
    top: -30px;
}

.tooltip .attribute {
    top: -5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltiptext:hover {
  visibility: hidden;
  opacity: 0;
}


.reddot {
  height: 25px;
  width: 25px;
  background-color: #9c0000;
  border-radius: 50%;
  display: inline-block;
}

.greendot {
  height: 25px;
  width: 25px;
  background-color: #047d04;
  border-radius: 50%;
  display: inline-block;
}

.bluedot {
  height: 25px;
  width: 12.5px;

  border-radius: 12.5px;
  border-top-color: #047d04;
  border-right-color: #9c0000;
  border-left-color: #047d04;
  border-bottom-color: #9c0000;
  border-width: 12.5px;
  border-style: solid;
  height: 0px;
  width: 0px;
  
  display: inline-block;
  
  /* Rotate the circle */
  transform: rotate(-90deg);
}

.purpledot {
  height: 25px;
  width: 25px;
  background-color: #0c11bd;
  border-radius: 50%;
  display: inline-block;
}

.dotbox {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.dotbox .tooltiptext {
  visibility: hidden;
  width: 400px;  
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 85px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.dotbox:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.dialog_window {
    background-color: #fff;
    border: 1px solid #000
    border-radius: 5px;
}

.no-close .ui-dialog-titlebar-close {display: none }

.no-close .ui-dialog-titlebar { display: none }


.checkbox-label {
    display: inline-block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 12px;
    height: 12px;
    width: 17px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12px;
    width: 12px;
    background-color: rgb(239, 239, 239);
/*    background-color: #eee;*/
    border-radius: 0px;
    border: 1px solid #000;
}


.checkbox-label .checkbox-custom:hover{
    background-color: rgb(229, 229, 229);
}

.checkbox-label .underlay{
    background-color: #eee
}


/* .checkbox-label input:checked ~ .checkbox-custom { */
/*     background-color: #444; */
/*     border-radius: 0px; */
/*     opacity:1; */
/*     border: 1px solid #000; */
/* } */

.checkbox-label input:checked ~ .checkbox-purple {
    background-color: #0c11bd;

}


.checkbox-label input:checked ~ .checkbox-green {
    background-color: #047d04;

}

.checkbox-label input:checked:not([disabled]) ~ .checkbox-green:hover {
    background-color: #046809;

}

.checkbox-label input:checked:not([disabled]) ~ .checkbox-red:hover {
    background-color: #820207;

}

.checkbox-label input:checked:not([disabled]) ~ .checkbox-purple:hover {
    background-color: #080D8B;

}

.checkbox-label input:disabled ~ .checkbox-green {
    opacity: 0.50;

}


.checkbox-label input:checked ~ .checkbox-red {
    background-color: #9c0000;

}


.checkbox-label input:disabled ~ .checkbox-red {
    opacity: 0.50;

}

div.ui-dialog {
    position:fixed;
} 

.ui-state-active {
    background: #8D41A2;
    border: 1px solid black;
}

.ui-widget{
    font-family: 'Source Sans Pro', sans-serif;
}

.ui-widget-header .ui-state-active{
    background: #8D41A2;
    border: 1px solid black;
}

.ui-widget-content .ui-state-active, .ui-button.ui-state-active:hover, .ui-button:active{
    background: #8D41A2;
    border: 1px solid black;
}


li#foci_tab, li#combat_foci_tab, li#noncombat_foci_tab {
    width:32.5%; 
    text-align: center;
}

li#biopsionics_tab, li#metapsionics_tab, li#precognition_tab, li#telekinesis_tab, li#telepathy_tab, li#teleportation_tab {
    width:15.5%;
    text-align: center;
}

.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    float: none;

    text-decoration: none;
    width: 100%;
    heigth:100%;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0.5em 0em;
}

.ui-visual-focus{
    box-shadow: 0 0 3px 1px #F4E2FC;
}

.adventurerOption{
    color:#010101;
}

.techniqueLabel{
    font-size: 1.3em;
    font-style: italic;
    margin-top:0;
}

h4{
    margin-top:0;
}

h3{
    margin-top:0;
}

h2{
    margin-top:0;
}

.ui-selectmenu-button {
    padding-top: 0;
    padding-bottom:0;
    padding-left:10px;
    padding-right:0px;
    margin: 0;
    height: 18px;
    /* box-sizing: border-box; */
    border-radius: 0;
}

.ui-menu .ui-menu-item-wrapper{
    padding-top: 1px;
    padding-bottom:1px;
    padding-left:2px;
/*    height: 16.5px;*/
}

/* #class_mirror-menu .ui-widget-content .ui-state-disabled{ */
#class_mirror-menu .ui-state-disabled{
    color:black;
    opacity: 1;
    filter:none;
}

.overflow{
    height:250px;
}

.noscroll{
    overflow-y:none;
}
